@font-face {
    font-family: 'GiloryMedium';
src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'GiloryBold';
src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}